[run]
branch = True
omit =
        *__init__*
        *migrations*
		*admin*
		classact_app/models.py

[report]
include =
        classact_app/*
omit =
        *__init__*
        *migrations*
        *admin*
        classact_app/models.py


